# Copy and replace the contents with `bundle exec rails credentials:edit` 
# inside the "rails-api" directory. Use separate key for jwt.secret.

# Use separate credentials for staging and production e.g.
# Run `rails credentials:edit --environment production` to create:
#   config/credentials/production.key
#   config/credentials/production.yml.enc
# @see https://blog.saeloun.com/2019/10/10/rails-6-adds-support-for-multi-environment-credentials.html
# @see https://edgeguides.rubyonrails.org/security.html#custom-credentials

secret_key_base: donotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotuse

jwt:
  secret: donotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotusedonotuse
database:
  adapter: postgresql
host: http://localhost:3000
cors:
  origins: http://localhost:8080
